{{#if calendarEvents}}
	Today's  calendar events are:
	{{#each calendarEvents}}
		{{name}}
	{{/each}}
	<br/>
{{/if}}
Today's stories are:
{{#each tpCandidates}}
	<div>
		{{input type="checkbox" checked=wasSpent}}
		<div class="colorblock" style="background-color: {{unbound color}};"></div>
		{{on.number}} - {{on.name}}: {{hoursAndMinutes}} spent.
	</div>
{{/each}}
<div>
	<form {{action "addCandidate" on="submit"}}>
		{{input type="checkbox" disabled="true"}}
		<div class="colorblock" {{bind-attr style=nextColorStyle}}></div>
		{{input type="text" value=tpNumberInput}}
		<button type="submit">add</button>
	<form>
</div>


{{adjustable-areas-slider areas=tpTimeSpent}}

{{calendar- month=timestamp dayController="CalendarDay" dayView="CalendarDay"}}

Tracking a total of {{totalTpTimeNotSubmitted}} unsubmitted hours.

{{#link-to "day" tomorrow}}Continue{{/link-to}}
<a href="#" {{action "submitTimes"}}>Submit All</a>