{{#if calendarEvents}}
	Today's  calendar events are:
	{{#each calendarEvents}}
		{{name}}
	{{/each}}
	<br/>
{{/if}}
Today's stories are:
{{#each tpCandidates}}
	<div class="colorblock" style="background-color: {{unbound color}};"></div>{{number}}
	{{input type="checkbox" checked=wasSpent}}
{{/each}}

{{adjustable-areas-slider areas=tpTimeSpent}}